* {
  margin: 0;
  padding: 0;
}

.font_noir {
  height: auto;
}

body {
  overflow: hidden;
  background-image: url("../images/image_marvel_mdp_oublié_wallpapergod.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.police_marvel {
  font-family: Marvel, bold;
}

.button-23 {
  background-color: #274754;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #000000;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .police_Marvel {
    color: #ffffff;
    font-size: 3rem;
    font-family: Marvel, italic;
  }
}

@media only screen and (max-width: 320px) {
  .police_Marvel {
    color: #ffffff;
    font-size: 3rem;
    font-family: Marvel, italic;
  }
}
